########################################
# Visual Studio / MSVC build artifacts
########################################

# Build results
[Bb]in/
[Oo]bj/
[xX]64/
[xX]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build*/
out*/

# Visual Studio cache / temp
.vs/
.vscode/.browse.VC.db
.vscode/ipch/

# MSVC intermediate files
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.tlog
*.log
*.iobj
*.ipdb
*.exp
*.res

# Executables / libraries
# *.exe
# *.dll
# *.lib
# *.so
# *.a

########################################
# Visual Studio user-specific files
########################################

*.user
*.userosscache
*.suo
*.VC.db
*.VC.opendb

########################################
# CMake (nếu dùng)
########################################

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
*.cmake.user

########################################
# MSBuild / NuGet
########################################

packages/
*.nupkg
.nuget/
.nuget/packages/

########################################
# Logs
########################################

*.log

########################################
# OS junk
########################################

.DS_Store
Thumbs.db

########################################
# Debug / temp
########################################

Debug/
Release/
RelWithDebInfo/
MinSizeRel/

########################################
# Optional: ignore generated headers
########################################

# *.generated.h
!test





keys